---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogPostList from '../../components/BlogPostList.astro'
---
<BaseLayout title="Thoughts" description="Sharing some thoughts.">
  <section>
    <h1 class="font-semibold text-2xl mb-8 tracking-tighter">My Blog</h1>
    <BlogPostList />
  </section>
</BaseLayout>
