---
import { getCollection } from 'astro:content'
import { formatDate } from '../lib/utils'

const posts = (await getCollection('blog')).sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime()
)
---
<div>
  {posts.map((post) => (
    <a
      class="flex flex-col space-y-1 mb-4"
      href={`/blog/${post.id}`}
    >
      <div class="w-full flex flex-col md:flex-row space-x-0 md:space-x-2">
        <p class="text-neutral-600 dark:text-neutral-400 w-24 md:w-[150px] flex-shrink-0 tabular-nums">
          {formatDate(post.data.publishedAt, false)}
        </p>
        <p class="text-neutral-900 dark:text-neutral-100 tracking-tight">
          {post.data.title}
        </p>
      </div>
    </a>
  ))}
</div>
