---
import LinkedinIcon from './icons/LinkedinIcon.astro'
import GithubIcon from './icons/GithubIcon.astro'
import EnvelopeIcon from './icons/EnvelopeIcon.astro'
import socialLinksData from '../lib/social-links.json'

const iconComponents: Record<string, any> = {
  'fa-brands fa-linkedin-in': LinkedinIcon,
  'fa-brands fa-github': GithubIcon,
  'fa-solid fa-envelope': EnvelopeIcon,
}
---
<ul class="flex flex-row mt-4 justify-center gap-x-6">
  {socialLinksData.map((link) => {
    const Icon = iconComponents[link.icon]
    return (
      <li>
        <a
          class="hover:text-emerald-500"
          rel="noopener noreferrer"
          target="_blank"
          href={link.url}
          aria-label={link.name}
        >
          <Icon class="w-5 h-5" />
        </a>
      </li>
    )
  })}
</ul>
